body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: "CeraPro-Regular";
  src: url("./fonts/CeraPro-Regular.eot");
  src: local("./fonts/Cera Pro Regular"), local("CeraPro-Regular"),
    url("./fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CeraPro-Regular.woff2") format("woff2"),
    url("./fonts/CeraPro-Regular.woff") format("woff"),
    url("./fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro-Medium";
  src: url("./fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"),
    url("./fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CeraPro-Medium.woff2") format("woff2"),
    url("./fonts/CeraPro-Medium.woff") format("woff"),
    url("./fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro-Italic";
  src: url("./fonts/CeraPro-RegularItalic.eot");
  src: local("./fonts/Cera Pro Regular"), local("CeraPro-Regular"),
    url("./fonts/CeraPro-RegularItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CeraPro-RegularItalic.woff2") format("woff2"),
    url("./fonts/CeraPro-RegularItalic.woff") format("woff"),
    url("./fonts/CeraPro-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
